{% load static %}
<!-- ================================
Start Navigation Bar
================================= -->
{% block navbar %}
    <div class="wrapper">
        <div class="section">
            <div class="top_navbar">
                <div class="hamburger">
                    <a href="#">
                        <b class="fas fa-bars"></b>
                    </a>
                </div>
            <form class="d-flex" method="post" action="{% url 'search_location' %}"
            >
                {% csrf_token %}

                <input class="form-control me-2"
                       type="search" name="search" placeholder="
                       Search" aria-label="Search..">
                <button class="btn
                btn-outline-secondary" type="
                submit"> SEARCH </button>
            </form>
            </div>

        </div>
        <div class="sidebar">
            <div class="profile">
                <img src="https://tinyurl.com/45a43mpv" alt="movie_picture">
                <h3>Movies</h3>
                <p>are like an expensive <br>form of&nbsp;therapy.
                    <br><i>Tim Burton</i></p>

            </div>
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'actors' %}">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Actors</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'movies' %}">
                        <span class="icon"><i class="fas fa-film"></i></span>
                        <span class="item">Movies</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'directors' %}">
                        <span class="icon"><i class="fas fa-directions"></i></span>
                        <span class="item">Directors</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'create_actor' %}">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <span class="item">Create actor</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'create_movie' %}">
                        <span class="icon"><i class="fas fa-file-medical"></i></span>
                        <span class="item">Create movie</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'create_director' %}">
                        <span class="icon"><i class="fas fa-user-edit"></i></span>
                        <span class="item">Create director</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'jinja2_testing_view' %}">
                        <span class="icon"><i class="fas fa-temperature-high"></i></span>
                        <span class="item">Template Cheatsheet</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Contact</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'admin:index' %}">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="item">Admin</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock navbar %}
<!-- ================================
End Navigation Bar
================================= -->