{% extends 'base_books.html' %}

<!-- ================================
Start Content
================================= -->
{% block content %}
    <br><br>
    <form action="{% url 'update_author' object.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update author">
    </form>
    <br><br>
    <a href="{% url 'delete_author' object.id %}">Delete</a>
<!-- ================================
End Content
================================= -->
{%endblock%}
