{% extends 'base_movies.html' %}
<!-- ================================
Start Content
================================= -->
{% block content %}
    <br><br>
    <div style="text-align: center;">
    {% if searched %}
        <h1>You searched for {{ searched }}</h1><br/>

        {% for movie in movies %}
            {{ movie }}<br/>
        {% endfor %}

    {% else %}
        <h1>Hey! You forgot to search for movie!</h1>
    {% endif %}


    </div>

<!-- ================================
End Content
================================= -->
{%endblock%}


